@media only screen and (max-width:768px) {
    .navbar  .fa-bars{
    margin-top: 1.5rem;
    width: 15%;
    height: 15%;
    display: block;
    display: block;
    position: fixed;
    right: 0;
    }
    
.navbar__nav img{
    display: none;
}
.navbar__nav{
    position: fixed;
    z-index: 1111;
    top: 13vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 90vh;
    text-align: center;
    display:none ;
}
.navbar__nav a{
  display: block;
  margin-top: 40px;
  margin-left: 0;
  padding-left: 0px;
  font-size: 2rem;
}
.navbar__nav a:hover{
    color:#FBB56F;
    text-shadow:  0  0 10px whitesmoke;
}

.banner__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 0rem;
}
.banner__item img{
    width: 100%;
    height: 100%;
    display: block;
}
.best__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    margin-top: 5rem;
}
.about__content{
    display: grid;
    grid-template-columns: 100%;
}
.about__item img{
    width: 100%;
    height: 100%;
    display: block;
}
.buy__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    margin: 0 auto;
}
.special__content{
    width: 100%;
    padding: 1.8rem 0;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 45px rgb(148, 148, 148);
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.ali__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    align-items: center;
}
.contact__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.footer__t_content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    align-items: center;
    text-align: center;
}
.new input{
    width: 100%;
}
.new button{    
    padding: 0.7rem 4rem;
}
.show{
  display: block;
}
.hide{
  display: none;
}
}